<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.javray.SIP" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SIP</name>
    <description>Conector SIP</description>
    <js-module name="SIP" src="www/SIP.js">
        <clobbers target="cordova.plugins.SIP" />
    </js-module>
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SIP" >
            <param name="android-package" value="com.javray.cordova.plugin.SIP"/>
        </feature>
      </config-file>
      <source-file src="src/android/SIP.java" target-dir="src/com/javray/cordova/plugin/SIP" />
      <source-file src="src/android/SIPReceiver.java" target-dir="src/com/javray/cordova/plugin/SIP" />

      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.USE_SIP" />
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
          <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
          <uses-permission android:name="android.permission.WAKE_LOCK"/>
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
          <uses-permission android:name="android.permission.RECORD_AUDIO" />
          <uses-permission android:name="android.permission.READ_PHONE_STATE" />
          <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
          <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

          <!--
          <uses-feature android:name="android.hardware.sip.voip" android:required="true" />
          <uses-feature android:name="android.hardware.wifi" android:required="true" />
          <uses-feature android:name="android.hardware.microphone" android:required="true" />
          <uses-feature android:name="android.software.sip" android:required="true" />
          -->
      </config-file>
       <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <receiver android:name="com.javray.cordova.plugin.SIPReceiver" android:label="Call Receiver">
            <intent-filter>
                <action android:name="com.javray.cordova.plugin.SIP.INCOMING_CALL"/>
                <!--
                <action android:name="android.net.sip.SIP_SERVICE_UP" />
                <action android:name="android.intent.action.PHONE_STATE" />
                -->
            </intent-filter>
          </receiver>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="com.javray.cordova.plugin.SIP.INCOMING_CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>
      <!--
      <lib-file src="src/android/libs/armeabi" arch="device" target-dir="libs"/>
      <lib-file src="src/android/libs/armeabi-v7a" arch="device" target-dir="libs"/>
      <lib-file src="src/android/libs/classes.jar" target-dir="libs"/>
      <lib-file src="src/android/libs/simple-xml-2.3.4.jar" target-dir="libs"/>
      -->
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SIP">
                <param name="ios-package" value="com.javray.cordova.plugin.SIP" />
            </feature>
        </config-file>
        <header-file src="src/ios/SIP.h" />
        <source-file src="src/ios/SIP.m" />
    </platform>
</plugin>
